<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="16x16" href="../plugins/images/favicon.png">
    <title>@ViewBag.Title - Everest Album Store</title>
    @*@Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Menu CSS -->
    <link href="~/Content/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css" rel="stylesheet">
    <!-- animation CSS -->
    <link href="~/Content/css/animate.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/Content/css/style.css" rel="stylesheet">
    <!-- color CSS -->
    @*<link href="~/Content/css/colors/default.css" id="theme" rel="stylesheet">*@

</head>
<body class="fix-header">

    <div id="wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <nav class="navbar navbar-default navbar-static-top m-b-0">
            <div class="navbar-header">
                <div class="top-left-part">
                    <!-- Logo -->
                    <a class="logo" href="#">
                        <!-- Logo icon image, you can use font-icon also -->
                        <b>
                            <!--This is dark logo icon-->
                            <img src="~/Content/plugins/images/admin-logo.png" alt="home" class="dark-logo" />
                            <!--This is light logo icon-->
                            <img src="~/Content/plugins/images/admin-logo-dark.png" alt="home" class="light-logo" />
                        </b>
                        <!-- Logo text image you can use text also -->
                        <span class="hidden-xs">
                            Everest Albums
                        </span>
                    </a>
                </div>
                <!-- /Logo -->
                <div>
                    <ul class="nav navbar-top-links navbar-left pull-left">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li><a href="/Albums">Album</a></li>
                        <li><a href="/Artists">Artist</a></li>
                        <li><a href="/Producers">Producers</a></li>
                        <li><a href="/ArtistAlbums">Artist Album</a></li>
                        <li><a href="/Loans">Loan</a></li>
                        <li><a href="/Members">Member</a></li>
                        <li><a href="/MemberCategories">Member Category</a></li>
                        <li><a href="/UserAndRoles/AddUserToRole">Roles</a></li>
                        <li><a href="/Account/Index">User Info</a></li>
                    </ul>
                </div>
                
                <ul class="nav navbar-top-links navbar-right pull-right">
                   
                    <li>
                        <a @Html.Partial("_LoginPartial")></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-header -->
            <!-- /.navbar-top-links -->
            <!-- /.navbar-static-side -->
        </nav>
        <!-- End Top Navigation -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav slimscrollsidebar">
                <div class="sidebar-head">
                    <h3><span class="fa-fw open-close"><i class="ti-close ti-menu"></i></span> <span class="hide-menu">Navigation</span></h3>
                </div>
                <ul class="nav" id="side-menu">
                    @using Microsoft.AspNet.Identity
                    @if (Request.IsAuthenticated)
                    {
                        <li style="padding: 100px 0 0;">
                            <a href="/Report/FilterTitlesByLastName" class="waves-effect"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i><strong>Task 1</strong></a>
                        </li>
                        <li>
                            <a href="/Report/FilterTitlesOnShelve" class="waves-effect"><i class="fa fa-user fa-fw" aria-hidden="true"></i><strong>Task 2</strong></a>
                        </li>
                        <li>
                            <a href="/Report/FilterMemberByIdOrLastname" class="waves-effect"><i class="fa fa-table fa-fw" aria-hidden="true"></i><strong>Task 3</strong></a>
                        </li>
                        <li>
                            <a href="/Report/ListAlbumIncreasingOrder" class="waves-effect"><i class="fa fa-font fa-fw" aria-hidden="true"></i><strong>Task 4</strong></a>
                        </li>
                        <li>
                            <a href="/Report/SelectCopyByCopyNumber" class="waves-effect"><i class="fa fa-globe fa-fw" aria-hidden="true"></i><strong>Task 5</strong></a>
                        </li>
                        <li>
                            <a href="/Report/AlbumCopyLoanToMember" class="waves-effect"><i class="fa fa-columns fa-fw" aria-hidden="true"></i><strong>Task 6</strong></a>
                        </li>
                        <li>
                            <a href="/Report/RecordReturnOfAlbumCopy" class="waves-effect"><i class="fa fa-info-circle fa-fw" aria-hidden="true"></i><strong>Task 7</strong></a>
                        </li>
                        <li>
                            <a href="/Report/AlphabeticListOfAllMembers" class="waves-effect"><i class="fa fa-info-circle fa-fw" aria-hidden="true"></i><strong>Task 8</strong></a>
                        </li>
                        <li>
                            <a href="/Report/ListAllAlbumsAYearOld" class="waves-effect"><i class="fa fa-info-circle fa-fw" aria-hidden="true"></i><strong>Task 10</strong></a>
                        </li>
                        <li>
                            <a href="/Report/ListCopiesOfAlbumsOnLoan" class="waves-effect"><i class="fa fa-info-circle fa-fw" aria-hidden="true"></i><strong>Task 11</strong></a>
                        </li>
                        <li>
                            <a href="/Report/ListOfMembersAlbumNotBorrowed" class="waves-effect"><i class="fa fa-info-circle fa-fw" aria-hidden="true"></i><strong>Task 12</strong></a>
                        </li>
                        <li>
                            <a href="/Report/ListCopiesOfAlbumNotLoaned" class="waves-effect"><i class="fa fa-info-circle fa-fw" aria-hidden="true"></i><strong>Task 13</strong></a>
                        </li>
                        
                    }
                    else
                    {
                        <li style="padding: 100px 0 0;">
                            <a href="/Report/FilterTitlesByLastName" class="waves-effect"><i class="fa fa-columns fa-fw" aria-hidden="true"></i>Task 1</a>
                        </li>
                        <li>
                            <a href="/Report/FilterTitlesOnShelve" class="waves-effect"><i class="fa fa-columns fa-fw" aria-hidden="true"></i>Task 2</a>
                        </li>
                    }



                </ul>

            </div>

        </div>
        <!-- ============================================================== -->
        <!-- End Left Sidebar -->
        <!-- ============================================================== -->
    </div>
    <div id="page-wrapper">
        <div class="container-fluid">
            @RenderBody()
        </div>
        <footer class="footer text-center"> 2020 &copy; groupWork </footer>
    </div>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>*@
    @*<div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
