@model IEnumerable<EverestAlbumStore.Models.LoanViewModel>

@{
    ViewBag.Title = "AlphabeticListOfAllMembers";
}

<h2>Task 8</h2>
<p>
    Produce an alphabetic list of all members (including members with no current loans)
    with all their details (with membership category decoded) and the total number of
    DVDs they currently have on loan. This report should highlight with the message
    “Too many DVDs” any member who has more DVDs on loan than they are allowed
    from their MembershipCategory.
</p>

<table class="table table-bordered table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MemberId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfLoans)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoanStatus)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MemberId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfLoans)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoanStatus)
        </td>
    </tr>
}

</table>
