@model IEnumerable<EverestAlbumStore.Models.ArtistAlbum>


@{
    ViewBag.Title = "Task 4";
}

<h2>ListAlbumIncreasingOrder</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Albums.Tittle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Artist.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Producers.Name)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Albums.Tittle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Artist.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producers.Name)
            </td>
        </tr>
    }

</table>
